<div class="content-wrapper animated animate__animated fadeIn">
    <div class="card">
      <div class="col-12 mt-2 ml-3">
          <h3> <i class="fas fa-briefcase"></i> Mis ofertas laborales selecionadas</h3>
          <hr class="text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 300px;">
      </div>
      <article class="card-body ">
        <div class="table-responsive">
          <table class="table table-condensed" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                  <tr>
                      <th style="width: 10px">#</th>
                      <th>Fecha de inscripción</th>
                      <th>Oferta Laboral</th>
                      <!-- <th>Observaciones</th> -->
                      <th>Estado de postulación</th>
                      <th>Estado de oferta laboral</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of ofertaLaboralPostulante;let i=index">
                      <td>{{ i +1}}</td>
                      <td>{{ item.created_at | date: 'yyyy/MM/dd'}}</td>
                      <td>{{ item.puesto }}</td>
                      <td>
                          <span class="badge bg-danger" *ngIf="item.estado==0 || item.estadoOfLab==4 && item.estado==1">
                              Denegado
                          </span>
                          <span class="badge bg-warning " *ngIf="item.estado==1 && item.estadoOfLab==3" title="tiempo máximo de confirmación 8 dias ">
                              <i class="far fa-clock " ></i> Postulando
                          </span>

                          <span class="badge bg-success " *ngIf="item.estado==2  && item.estadoOfLab==4">
                              Contratado
                          </span>
                      </td>
                      <!-- ============== ETADO DE LA OFERTA LABORAL ====================== -->
                      <td>
                          <span class="badge bg-warning" *ngIf="item.estadoOfLab==4" title="Ha caba de finalizar el proceso de selección">
                              Finalizada
                          </span>
                          <span class="badge bg-success" *ngIf="item.estadoOfLab==3" title="Oferta disponible en la plataforma">
                              Activa
                          </span>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
      </article>
        <!-- /.card-body -->
    </div>
</div>
