<form class="row g-3 " (ngSubmit)="onSubmitRegistrarAdmin()" [formGroup]="formAdmin">
  <div class="col-md-6 ">
      <label for="inputEmail4 " class="form-label ">Nombre <span class="text-danger">*</span></label><br>
      <i class="fas fa-user form-control-feedback" aria-hidden="true"></i>
      <input type="text"
             formControlName="nombre"
             maxlength="20"
             placeholder="Ingrese el nombre"
             [class.is-invalid]="nomNoValido"
             [class.is-valid]="formAdmin.get('nombre').valid"
             class="form-control">
      <!-- mensajes de validacion -->
      <div class="invalid-feedback"  *ngIf="nomNoValido">
        <p> <i class="fas fa-info-circle"></i> El campo es requerido</p>
      </div>
      <!-- end mensajes de validacion -->
  </div>
  <div class="col-md-6 ">
      <label for="inputEmail4 " class="form-label ">Apellido <span class="text-danger">*</span></label><br>
      <i class="fas fa-user form-control-feedback" aria-hidden="true"></i>
      <input type="text"
            formControlName="apellido"
            maxlength="20"
            placeholder="Ingrese el apellido"
            [class.is-invalid]="apellidoNoValido"
            [class.is-valid]="formAdmin.get('apellido').valid"
            class="form-control">
      <!-- mensajes de validacion -->
      <div class="invalid-feedback"  *ngIf="apellidoNoValido">
        <p> <i class="fas fa-info-circle"></i> El campo es requerido</p>
      </div>
      <!-- end mensajes de validacion -->
  </div>
  <div class="col-md-6 ">
    <label for="inputEmail4 " class="form-label ">Contraseña <span class="text-danger">*</span></label><br>
    <i class="fas fa-lock form-control-feedback" aria-hidden="true"></i>
    <input type="password"
           formControlName="password"
           class="form-control"
           [class.is-invalid]="passwordNoValido"
           [class.is-valid]="formAdmin.get('password').valid"
           placeholder="Ingrese una contraseña"
           maxlength="10">
    <!-- mensajes de validacion -->
    <div class="invalid-feedback"  *ngIf="passwordNoValido">
      <p> <i class="fas fa-info-circle"></i> El campo es requerido</p>
    </div>
    <!-- end mensajes de validacion -->
</div>
<div class="col-md-6 ">
  <label for="inputPassword4" >Repita su Contraseña <span class="text-danger">*</span></label><br>
  <i class="fas fa-lock form-control-feedback" aria-hidden="true"></i>
  <input type="password"
         formControlName="password2"
         class="form-control"
         [class.is-invalid]="passwordNoValido2"
         [class.is-valid]="formAdmin.get('password2').valid &&  (formAdmin.get('password2').value)!=='' && passwordNoValido == passwordNoValido2 "
         placeholder="Repita su contraseña">
  <!-- mensajes de validacion -->
  <div class="invalid-feedback"  *ngIf="passwordNoValido2 ">
    <p *ngIf="passwordNoValido != passwordNoValido2"> <i class="fas fa-info-circle"></i> Las contraseñas no coinciden</p>
  </div>
  <!-- end mensajes de validacion -->
</div>
  <div class="col-md-6 ">
      <div class="form-group ">
          <label for="exampleFormControlTextarea1 ">Correo <span class="text-danger">*</span></label><br>
          <i class="fas fa-envelope form-control-feedback" aria-hidden="true"></i>
          <input type="email"
                 formControlName="correo"
                 placeholder="Ingrese un correo"
                 class="form-control"
                 [class.is-invalid]="correoNoValido"
                 [class.is-valid]="formAdmin.get('correo').valid">
          <!-- mensajes de validacion -->
          <div class="invalid-feedback"  *ngIf="correoNoValido">
            <p *ngIf="correoVacio==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>
            <p *ngIf="correoNoValido && correoVacio!=''"> <i class="fas fa-info-circle"></i> Debe ingresar una dirección de correo válida</p>
          </div>
          <!-- end mensajes de validacion -->
      </div>
  </div>

  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Tipo Usuario <span class="text-danger">*</span></label><br>
    <i class="fa fa-users form-control-feedback" aria-hidden="true"></i>
    <select class="form-control"
            [class.is-invalid]="tipoUsuarioNoValido"
            [class.is-valid]="formAdmin.get('tipoUsuario').valid"
            formControlName="tipoUsuario">
        <option [value]="3" >Secretaria</option>
        <option [value]="4" >Administrador</option>
        <option [value]="5" >Encargado</option>
      </select>
    <!-- mensajes de validacion -->
    <div class="invalid-feedback"  *ngIf="tipoUsuarioNoValido">
      <p> <i class="fas fa-info-circle"></i> El campo es requerido</p>
    </div>
    <!-- end mensajes de validacion -->
  </div>
  <div class=" col-md-6 ">
    <div class="form-group ">
      <label for="exampleFormControlTextarea1">Estado </label><br>
        <ui-switch (change)="onChangeOferta($event)"
                   [checked]="estadoOferta()"
                   checkedLabel="Activo"
                   uncheckedLabel="No Activo">
        </ui-switch>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-center">
      <button type="submit " class="btn btn-success" *ngIf="esRegistroNuevo"> <i class="fas fa-save"></i> Registrar</button>
      <button type="submit " class="btn btn-success" *ngIf="!esRegistroNuevo"> <i class="fas fa-save"></i> Actualizar</button>
  </div>
</form>
