<div class="alert alert-light text-center" *ngIf="instanciaCursosCapacitaciones.length==0">
    <i class="fas fa-exclamation-triangle"></i> No existe registros para mostrar
</div>
<div class="table-responsive">
  <table class="table table-condensed" *ngIf="instanciaCursosCapacitaciones.length>0">
      <thead>
          <tr>
              <th>#</th>
              <th >Evento</th>
              <th>Auspiciante</th>
              <th>Horas</th>
              <th>Fecha Inicio</th>
              <th>Fecha Culiminación</th>
              <th>Evento</th>
              <th>País</th>
              <th>Evidencias</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of instanciaCursosCapacitaciones;let i=index">
              <td>{{ i +1}}</td>
              <td>{{item.nom_evento }}</td>
              <td>{{item.auspiciante }}</td>
              <td>{{item.horas }}</td>
              <td>{{item.fecha_inicio }}</td>
              <td>{{item.fecha_culminacion }}</td>
              <td *ngIf="(item.tipo_evento).toString()=='1' ">Curso</td>
              <td *ngIf="(item.tipo_evento).toString()=='2' ">Capacitacion</td>
              <td>{{buscarPais(item.fk_pais)}} </td>
              <td>
                <a class="btn btn-light "
                  (click)="mostrarPdf(item.evidencia_url)">
                  <i class="fas fa-eye" ></i>
                </a>

              </td>
          </tr>
      </tbody>
  </table>

</div>

<!-- Full screen modal -->
<div class="modal fade" id="mostrarCursos" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" aria-label="Close" (click)="carrarModal()"></button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="977" height="733" [src]="ubicacionArchivo|domseguro " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

                </iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="carrarModal()">Close</button>
            </div>
        </div>
    </div>
</div>
