
<div class="wrapper">
  <navTab-admin></navTab-admin>
  <div class="content-wrapper  animated animate__animated fadeIn" style="padding-bottom: 100px;">
      <div class="card">
          <div class="col-12 mt-2 ml-3 mb-2">
            <h3>Validar Oferta Laboral</h3>
              <a class="float-left btn btn-outline-primary mt-3" [routerLink]="['/panel-admin/validar-oferta-laboral']">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Regresar
              </a>
            <hr class="text-primary accent-2  mb-4 mt-0 " style="width: 250px;">
          </div>
          <div class="alert simple-warning col-12 mt-2 ml-4" role="alert" *ngIf="!encontrado">
          <p><i class="fas fa-exclamation-triangle"></i> Oferta no encontrado</p>
          </div>
          <article class="card-body" *ngIf="encontrado">
              <form class="row g-3" (ngSubmit)="onSubMitEditarOfertaLaboral(fValidarOfertaLaboral)" #fValidarOfertaLaboral="ngForm" enctype="multipart/form-data">
                  <div class="col-md-12">
                      <label for="inputPuesto" class="form-label">Puesto</label><br>
                      <i class="fas fa-user form-control-feedback"></i>

                      <input type="text" [(ngModel)]="instanciaOfertaLaboral.puesto" name="puesto" class="form-control" required disabled>
                  </div>
                  <div class="col-md-6">
                      <label for="inputDescripcion" class="form-label">Descripción </label><br>
                      <i class="fas fa-briefcase form-control-feedback"></i>

                      <textarea class="form-control" [(ngModel)]="instanciaOfertaLaboral.descripcion" name="descripcion" required disabled></textarea>
                  </div>
                  <div class="col-md-6">
                      <label for="inputLugar" class="form-label">Lugar</label><br>
                      <i class="fas fa-map-marker-alt form-control-feedback"></i>

                      <textarea class="form-control" [(ngModel)]="instanciaOfertaLaboral.lugar" name="lugar" required disabled></textarea>
                  </div>

                  <div class="col-md-12">
                      <label for="inputRequisitos" class="form-label">Requisitos </label><br>

                      <textarea id="compose-textarea" class="form-control " style="height: 300px" name="requisitos" [(ngModel)]="instanciaOfertaLaboral.requisitos"></textarea>
                  </div>
                  <div class="col-md-12">
                      <div class="form-group">
                          <label for="exampleFormControlTextarea1">Observaciones <span class="text-danger">*</span></label><br>
                          <i class="fa fa-comments form-control-feedback" aria-hidden="true"></i>
                          <textarea class="form-control"
                                      [disabled]="instanciaOfertaLaboral.estado>2"
                                      name="observaciones"
                                      [(ngModel)]="instanciaOfertaLaboral.obervaciones"
                                      [class.is-valid]="fValidarOfertaLaboral.valid && fValidarOfertaLaboral.submitted"
                                      [class.is-invalid]="fValidarOfertaLaboral.invalid && fValidarOfertaLaboral.submitted"
                                      maxlength="150"
                                      [ngClass]="{'is-invalid': fValidarOfertaLaboral.submitted && fValidarOfertaLaboral.controls['observaciones'].errors }"
                                      required>
                          </textarea>
                      </div>
                  </div>
                  <div class=" col-md-6 ">
                      <div class="form-group ">
                        <label for="exampleFormControlTextarea1">Estado de validación</label><br>
                          <ui-switch (change)="onChangeOferta($event)" [disabled]="instanciaOfertaLaboral.estado>2"  [checked]="estadoOferta()"></ui-switch>
                      </div>
                  </div>

                  <div class="col-12 d-flex justify-content-center ">
                      <button type="submit "
                              class="btn btn-success"
                              [disabled]="instanciaOfertaLaboral.estado>2">
                              <i class="fas fa-save"></i>
                        Registrar
                      </button>
                  </div>
              </form>
          </article>
      </div>
  </div>
  <!-- ========= FOOTER =========== -->
  <!-- ========= FOOTER =========== -->
  <app-footer></app-footer>

</div>
