
<div class="content-wrapper  animated animate__animated fadeIn" style="padding-bottom: 100px;">
    <div class="card ">
        <div class="col-12 mt-2 ml-3 mb-2">
          <h3>Registrar Administrador</h3>
            <a class="float-left btn btn-outline-primary mt-3" [routerLink]="['/panel-admin/gestionar-usuarios-admin/']">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              Regresar
            </a>
          <hr class="text-primary accent-2  mb-4 mt-0 " style="width: 250px;">
        </div>
        <article class="card-body ">
          <app-form-administrador></app-form-administrador>
        </article>
    </div>
</div>
