 <div class="wrapper">
    <navTab-postulante></navTab-postulante>
    <div class="content-wrapper animated fadeIn">
      <div class="card">
        <article class="card-body">
                <div class="alert simple-primary" *ngIf="nuevoRegistro">
                  <i class="fas fa-info-circle"></i> Por favor complete el formulario para tener acceso a las ofertas laborales disponibles en la plataforma
                </div>

                <div class="alert simple-warning" *ngIf="formNoRevisado">
                  <i class="fas fa-info-circle"></i> Su registro está en proceso de validación, en las próximas 48 horas se notificará la validación de su información a su correo electrónico.
                </div>

                <div class="alert simple-danger" *ngIf="formRevisadoButNoValido">
                  <i class="fas fa-times-circle"></i> La validación de su información no ha sido exitosa.
                  <p><i class="fas fa-info-circle"></i> Observaciones : {{ instanciaPostulante.observaciones }}</p>
                </div>

                <div class="alert simple-succes" *ngIf="formValidadoExito">
                  <i class="fas fa-check-circle"></i> Tu validación ha sido éxitosa, por lo cual ya puedes publicar las ofertas laborales en la plataformas
                  <p ><i class="fas fa-info-circle"></i> Observaciones : {{ instanciaPostulante.observaciones }}</p>
                </div>

                <h3><i class="fas fa-address-card"></i> Registro de postulante</h3>
                <hr class="text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 200px;">
                <form class="row g-2" (ngSubmit)="registrarPostulante()" [formGroup]="formPostulante" >
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Nombres Completos  <span class="text-danger">*</span></label><br>
                        <i class="fas fa-user form-control-feedback"></i>
                        <input type="text"
                               maxlength="20"
                               formControlName="nombresCompleto"
                               [class.is-invalid]="nombreNoValido"
                               [class.is-valid]="formPostulante.get('nombresCompleto').valid"
                               class="form-control"
                               placeholder="Ingrese sus nombres completos"
                               maxlength="20">
                        <div class="invalid-feedback"  *ngIf="nombreNoValido">
                          <p *ngIf="nombreVacio==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                          <p *ngIf="soloTextoNombre && nombreVacio!=''"> <i class="fas fa-info-circle"></i> Ingrese solo Texto</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Apellidos Completos <span class="text-danger">*</span></label><br>
                        <i class="fas fa-user form-control-feedback"></i>
                        <input type="text"
                               class="form-control"
                               formControlName="apellidosCompleto"
                               [class.is-invalid]="apellidoNoValido"
                               [class.is-valid]="formPostulante.get('apellidosCompleto').valid"
                               placeholder="Ingrese sus apellidos completos"
                               maxlength="20">
                        <!-- mensajes de validacion -->
                        <div class="invalid-feedback"  *ngIf="apellidoNoValido">
                          <p *ngIf="apellidoVacio==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                          <p *ngIf="soloTextoApellido && apellidoVacio!=''"> <i class="fas fa-info-circle"></i> Ingrese solo Texto</p>
                        </div>
                        <!-- end mensajes de validacion -->
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Documento de identidad <span class="text-danger">*</span></label><br>
                        <i class="fas fa-address-card form-control-feedback"></i>
                        <input type="text"
                               class="form-control"
                               formControlName="documentoIndentidad"
                               placeholder="Ingrese su documento de identidad"
                               [class.is-invalid]="documentoIdentidadNoValido"
                               [class.is-valid]="formPostulante.get('documentoIndentidad').valid"
                               maxlength="20">
                        <!-- mensajes de validacion -->
                        <div class="invalid-feedback"  *ngIf="documentoIdentidadNoValido ">
                          <i class="fas fa-info-circle"></i> El documento de identidad es requerido
                        </div>
                        <!-- end mensajes de validacion -->
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Fecha de Nacimiento <span class="text-danger">*</span></label><br>
                        <input type="date"
                              formControlName="fechaNacimiento"
                              [max]="fechaActual"
                              [min]="fechaMinima"
                              [class.is-invalid]="fechaNacimientoNoValido"
                              [class.is-valid]="formPostulante.get('fechaNacimiento').valid"
                               class="form-control ">
                        <!-- mensajes de validacion -->
                        <div class="invalid-feedback"  *ngIf="fechaNacimientoNoValido">
                          <i class="fas fa-info-circle"></i> Asegurate de usar tu fecha de nacimiento real
                        </div>
                        <!-- end mensajes de validacion -->
                    </div>
                    <div class="col-md-6 ">
                        <label for="inputEmail4 " class="form-label ">Teléfono fijo o móvil <span class="text-danger">*</span></label><br>
                        <i class="fas fa-phone-volume form-control-feedback"></i>
                        <input type="text"
                               class="form-control"
                               formControlName="telefono"
                               [class.is-invalid]="telefonoNoValido"
                               [class.is-valid]="formPostulante.get('telefono').valid"
                               placeholder="Ingrese su teléfono fijo o móvil"
                               maxlength="15">
                        <!-- mensajes de validacion -->
                        <div class="invalid-feedback"  *ngIf="telefonoNoValido">
                          <p *ngIf="telefonoVacio==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                          <p *ngIf="soloNumerosTelefono && telefonoVacio!=''"> <i class="fas fa-info-circle"></i> Ingrese solo numero</p>
                        </div>
                        <!-- end mensajes de validacion -->
                    </div>
                    <div class="col-md-6 ">
                          <label for="inputEmail4 " class="form-label ">Género <span class="text-danger">*</span></label><br>
                          <div class="form-check">
                            <input type="radio"
                                  class="form-check-input"
                                  formControlName="genero"
                                  [class.is-invalid]="generoNoValido"
                                  [class.is-valid]="formPostulante.get('genero').valid "
                                  [value]="0"
                                   >
                            <label class="form-check-label" for="validationFormCheck2"><i class="fas fa-mars "></i> Masculino</label>
                          </div>
                          <div class="form-check mb-3">
                            <input type="radio"
                                    class="form-check-input"
                                    formControlName="genero"
                                    [class.is-invalid]="generoNoValido"
                                    [class.is-valid]="formPostulante.get('genero').valid "
                                    [value]="1"
                                    >
                            <label class="form-check-label" for="validationFormCheck3"><i class="fas fa-venus"></i> Femenino </label>
                            <div class="invalid-feedback" *ngIf="generoNoValido">
                              <i class="fas fa-info-circle"></i> El género es obligatorio
                            </div>
                          </div>
                      </div>
                    <div class="col-md-6 ">
                        <div class="form-group ">
                            <label for="exampleFormControlTextarea1 ">Dirección de domicilio o laboral <span class="text-danger">*</span></label><br>
                            <i class="fas fa-map-marker-alt form-control-feedback"></i>
                            <textarea class="form-control "
                                      rows="3"
                                      formControlName="direccionDomicilio"
                                      [class.is-invalid]="direccionNoValida"
                                      [class.is-valid]="formPostulante.get('direccionDomicilio').valid"
                                      placeholder="Ingrese su dirección de domicilio o laboral"
                                      maxlength="30">
                            </textarea>
                          <!-- mensajes de validacion -->
                          <div class="invalid-feedback"  *ngIf="direccionNoValida">
                            <i class="fas fa-info-circle"></i> La dirección es requerida
                          </div>
                          <!-- end mensajes de validacion -->
                        </div>
                    </div>
                    <div class="col-12 ">
                        <button type="submit"
                                class="btn btn-success"
                                [disabled]="!modoEdicionForm">
                                <i class="fas fa-save"></i>
                                Registrar
                        </button>
                    </div>
                </form>
            </article>
        </div>
    </div>

    <!--============================= FOOOTER  ============================-->
    <!--============================= FOOOTER  ============================-->
    <!--============================= FOOOTER  ============================-->
    <app-footer></app-footer>
</div>

