<header-home></header-home>
<div id="carouselExampleSlidesOnly" class="carousel slide animate__animated  animate__fadeIn mt-4" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{ dominio }}/Archivos/Slider/dd.jpg" alt="First slide">
    </div>
  </div>
</div>

<!-- <section id="hero" class="animate__animated  animate__pulse"></section> -->
<div class="mb-5 mt-5 ml-3 mr-3">
  <app-postular-oferta-laboral></app-postular-oferta-laboral>
</div>

<footer class="bg-primary text-white text-center text-lg-start ">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1"
               href="https://www.facebook.com/cisunl"
               role="button" target="alt">
               <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Pagina  -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.unl.edu.ec" role="button" target="alt"><i class="fas fa-globe"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white">Carrera de Ingeniería en Sistemas/Computación UNL</a>
    </div>
    <!-- Copyright -->
</footer>
