<div class="card-body">
  <div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
          <span class="text-uppercase  text-primary h4"><i class="fas fa-building"></i>EMPRESA: </span>
          <span class="h4 font-weight-light text-uppercase" style="overflow: scroll;">{{ instanciaOfertaVer.razon_empresa }}</span>
          <hr class="text-primary " style="width: 200px;">
        </div>
        <div class="col-md-12">
          <span class="text-uppercase font-weight-light h6"><i class="fa fa-comment" aria-hidden="true"></i> Descripción de la oferta laboral </span>
          <p  class="mt-2">{{ instanciaOfertaVer.descripcion }}</p>
        </div>
        <div class="col-md-12">
          <span class="text-uppercase font-weight-light h6"><i class="far fa-id-badge"></i> OBSERVACIONES </span>
          <p  class="mt-2" *ngIf="instanciaOfertaVer.obervaciones">{{ instanciaOfertaVer.obervaciones }}</p>
          <p  class="mt-2" *ngIf="!instanciaOfertaVer.obervaciones">Ninguna</p>
        </div>
        <div class="col-md-12">
          <span class="text-uppercase font-weight-light h6"><i class="far fa-envelope"></i> Correo del Empleador </span>
          <p  class="mt-2">{{ instanciaOfertaVer.correo }}</p>
        </div>
        <div class="col-md-12">
          <span class="text-uppercase font-weight-light h6"><i aria-hidden="true" class="fa fa-map-marker"></i> LUGAR </span>
          <p  class="mt-2">{{ instanciaOfertaVer.lugar }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <span class="text-uppercase  text-primary h4"><i class="fas fa-briefcase"></i> PUESTO: </span>
          <span class="h4 font-weight-light text-uppercase" style="overflow: scroll;">{{ instanciaOfertaVer.puesto }}</span>
          <hr class="text-primary " style="width: 200px;">
        </div>
        <div class="col-md-12">
          <span class="text-uppercase font-weight-light h6"><i class="fas fa-clipboard-check"></i> REQUISITOS </span>
          <div [innerHTML]="instanciaOfertaVer.requisitos" style="overflow: scroll;"></div>
        </div>
      </div>
    </div>
</div>
