<div class="content-wrapper  animated animate__animated fadeIn" style="padding-bottom: 100px;">
    <div class="card">
        <div class="alert simple-warning col-12 mt-2 ml-3" role="alert" *ngIf="encontrado==false">
            <p><i class="fas fa-exclamation-triangle"></i> Estudiante no encontrado</p>
        </div>
        <div class="col-12 mt-2 ml-3 mb-2">
          <h3><i class="fa fa-user" aria-hidden="true"></i> Validar registro de postulante</h3>
          <hr class="text-primary accent-2  mb-4 mt-0 " style="width: 250px;">
            <a class="float-left btn btn-outline-primary" [routerLink]="['/panel-admin/tabla-validar-postulantes']" >
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar
            </a>
        </div>
        <article class="card-body" *ngIf="encontrado==true">
            <form class="row g-3" (ngSubmit)="validarInfoPostulante()" [formGroup]="formPosutalnte">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Nombres Completos</label><br>
                    <i class="fas fa-user form-control-feedback"></i>
                    <input type="text"
                          class="form-control"
                          formControlName="nombresCompleto">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Apellidos Completos</label><br>
                    <i class="fas fa-user form-control-feedback"></i>
                    <input type="text"
                            class="form-control"
                            formControlName="apellidosCompleto">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Documento de identidad</label><br>
                    <i class="fas fa-address-card form-control-feedback"></i>
                    <input type="text"
                            class="form-control"
                            formControlName="documentoIndentidad">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Fecha de Nacimiento</label><br>
                    <input type="date"
                          formControlName="fechaNacimiento"
                          class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Teléfono fijo o móvil</label><br>
                    <i class="fas fa-phone-volume form-control-feedback"></i>
                    <input type="text"
                            class="form-control"
                            formControlName="telefono"
                            >
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-form-label col-sm-2 pt-0">Género</label>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input"
                                            type="radio"
                                            [value]="0"
                                            formControlName="genero">
                                    <label class="form-check-label " for="gridRadios1 "> Masculino</label>
                                </div>
                                <div class="form-check ">
                                    <input class="form-check-input "
                                            type="radio"
                                            [value]="1"
                                            formControlName="genero">
                                    <label class="form-check-label " for="gridRadios2">Femenino</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group ">
                        <label for="exampleFormControlTextarea1 ">Dirección de domicilio o laboral</label><br>
                        <i class="fas fa-map-marker-alt form-control-feedback"></i>
                        <textarea class="form-control "
                                  rows="3"
                                  formControlName="direccionDomicilio">
                        </textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group ">
                        <label for="exampleFormControlTextarea1 ">Observaciones <span class="text-danger">*</span></label><br>
                        <i class="fa fa-comments form-control-feedback" aria-hidden="true"></i>
                        <textarea class="form-control"
                                  rows="3"
                                  maxlength="100"
                                  [class.is-invalid]="observacionesNoValida"
                                  [class.is-valid]="formPosutalnte.get('observaciones').valid"
                                  formControlName="observaciones">
                        </textarea>
                        <!-- mensajes de validacion -->
                        <div class="invalid-feedback"  *ngIf="observacionesNoValida">
                          <p > <i class="fas fa-info-circle"></i> El campo es requerido</p>
                        </div>
                        <!-- end mensajes de validacion -->
                    </div>
                </div>

                <div class=" col-md-6 ">
                  <div class="form-group ">
                    <label for="exampleFormControlTextarea1">Estado de validación</label><br>
                      <ui-switch (change)="onChangeOferta($event)"   [checked]="estadoOferta()"></ui-switch>
                  </div>
                </div>

                <div class="col-12 d-flex justify-content-center ">
                    <button type="submit" class="btn btn-success "><i class="fas fa-save"></i> Registrar</button>
                </div>
            </form>
        </article>
    </div>
</div>

