<div class="wrapper">
  <navTab-empleador></navTab-empleador>
  <div class="content-wrapper animated fadeIn">
      <div class="card">
          <div class="col-12 mt-2 ml-3 mb-4">
            <h3>Registrar Oferta Laboral</h3>
            <hr class="text-primary accent-2  mb-4 mt-0 " style="width: 300px;">
            <a class="float-left btn btn-outline-primary" [routerLink]="['/panel-empleador/oferta-laboral']">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</a>
          </div>
          <article class="card-body">
            <form class="row g-3" (ngSubmit)="onSubMitRegistroOfertaLaboral()" [formGroup]="formOfertaLaboral">
                <div class="col-md-12">
                    <label for="inputPuesto" class="form-label">Puesto <span class="text-danger">*</span></label><br>
                    <i class="fas fa-user form-control-feedback"></i>
                    <input type="text"
                          formControlName="puesto"
                          maxlength="50"
                          [class.is-invalid]="puestoNoValido"
                          [class.is-valid]="formOfertaLaboral.get('puesto').valid"
                          placeholder="Ingrese el puesto de la oferta"
                          class="form-control">
                  <!-- mensajes de validacion -->
                  <div class="invalid-feedback"  *ngIf="puestoNoValido">
                    <p> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                  </div>
                  <!-- end mensajes de validacion -->
                </div>
                <div class="col-md-6">
                    <label for="inputDescripcion" class="form-label">Descripción <span class="text-danger">*</span></label><br>
                    <i class="fas fa-briefcase form-control-feedback"></i>
                    <textarea class="form-control"
                              formControlName="descripcion"
                              [class.is-invalid]="descripcionNoValido"
                              [class.is-valid]="formOfertaLaboral.get('descripcion').valid"
                              placeholder="Ingrese la descripción de la oferta"
                              maxlength="200">
                    </textarea>
                  <!-- mensajes de validacion -->
                  <div class="invalid-feedback"  *ngIf="descripcionNoValido">
                    <p> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                  </div>
                  <!-- end mensajes de validacion -->
                </div>
                <div class="col-md-6">
                    <label for="inputLugar" class="form-label">Lugar <span class="text-danger">*</span></label><br>
                    <i class="fas fa-map-marker-alt form-control-feedback"></i>
                    <textarea class="form-control"
                              formControlName="lugar"
                              [class.is-invalid]="lugarNoValido"
                              [class.is-valid]="formOfertaLaboral.get('lugar').valid"
                              placeholder="Ingrese el lugar de la oferta"
                              maxlength="100">
                    </textarea>
                  <!-- mensajes de validacion -->
                  <div class="invalid-feedback"  *ngIf="lugarNoValido">
                    <p> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                  </div>
                  <!-- end mensajes de validacion -->
                </div>

                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">Requisitos <span class="text-danger">*</span></label><br>
                    <textarea id="compose-textarea"
                              class="form-control"
                              formControlName="requisitos"
                              onchange="inputRequisitos($event)"
                              [class.is-invalid]="requisitosNoValido"
                              [class.is-valid]="formOfertaLaboral.get('requisitos').valid"
                              [value]=""
                              >
                    </textarea>
                <!-- mensajes de validacion -->
                 <div class="invalid-feedback" *ngIf="requisitosNoValido" >
                  <p *ngIf="requisitosVacio==''"> <i class="fas fa-info-circle"></i> El campo requisitos es requerido</p>
                  <p *ngIf="requisitosLimite && requisitosVacio!=='' "> <i class="fas fa-info-circle"></i> Este campo solo acepta 500 caracteres</p>
                </div>
                <!-- end mensajes de validacion -->
                </div>
                <div class="col-12">
                    <button type="submit"
                      class="btn btn-success">
                      <i class="fas fa-save"></i>
                      Registrar
                    </button>
                </div>
            </form>
          </article>
      </div>
  </div>
  <!-- ========= FOOTER =========== -->
  <!-- ========= FOOTER =========== -->
  <app-footer></app-footer>
</div>
