<div class="wrapper">
  <navTab-empleador></navTab-empleador>

  <!--============================= NO HA LLENADO EL FORMULARIO  ============================-->
  <!--============================= NO HA LLENADO EL FORMULARIO  ============================-->
  <div class="content-wrapper animated fadeIn" >
      <!-- ============= SI NO LLENA EL FORMUALRIO ENTONCES SE PRESENTA EL FORMULARIO VACIO PARA QUE LO REGISTRE =========== -->
      <div class="card">
          <article class="card-body">
              <div class="alert simple-primary" *ngIf="nuevoRegistro">
                <i class="fas fa-info-circle"></i> Por favor complete el formulario para tener acceso a la plataforma y poder publicar sus ofertas laborales
              </div>

              <div class="alert simple-warning" *ngIf="formNoRevisado">
                <i class="fas fa-info-circle"></i> Registro de empleador en proceso de validación, en 48 horas se notificará su aprobación
              </div>

              <div class="alert simple-danger" *ngIf="formRevisadoButNoValido">
                <i class="fas fa-times-circle"></i> La validación de su información no ha sido exitosa.
                <p><i class="fas fa-info-circle"></i> Observaciones : {{ instanciaEmpleador.observaciones }}</p>
              </div>

              <div class="alert simple-succes" *ngIf="formValidadoExito">
                <i class="fas fa-check-circle"></i> Tu validación ha sido éxitosa, por lo cual ya puedes publicar las ofertas laborales en la plataformas
                <p ><i class="fas fa-info-circle"></i> Observaciones : {{ instanciaEmpleador.observaciones }}</p>
              </div>

              <h3><i class="fas fa-address-card"></i> Registro de Empleador</h3>
              <hr class="text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 300px;">
              <form class="row g-2" (ngSubmit)="registrarEmpledor()" [formGroup]="formEmpleador">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Razón social de la empresa <span class="text-danger">*</span></label><br>
                        <i class="fas fa-briefcase form-control-feedback"></i>
                        <input type="text"
                              formControlName="razonSocial"
                              class="form-control"
                              [class.is-invalid]="razonSocialNoValido"
                              [class.is-valid]="formEmpleador.get('razonSocial').valid"
                              placeholder="Ingrese la Razón social de la empresa"
                              maxlength="30">
                      <!-- mensajes de validacion -->
                      <div class="invalid-feedback"  *ngIf="razonSocialNoValido">
                        <p *ngIf="razonSocialVacio==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                      </div>
                      <!-- end mensajes de validacion -->
                    </div>


                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Tipo de institución o empresa <span class="text-danger">*</span></label><br>
                        <i class="fas fa-building form-control-feedback"></i>
                        <input type="text"
                              formControlName="tipoEmpresa"
                              maxlength="30"
                              [class.is-invalid]="tipoEmpresaNoValido"
                              [class.is-valid]="formEmpleador.get('tipoEmpresa').valid"
                              placeholder="Ingrese el tipo de institución o empresa"
                              class="form-control">
                        <!-- mensajes de validacion -->
                        <div class="invalid-feedback"  *ngIf="tipoEmpresaNoValido">
                          <p *ngIf="tipoEmpresaVacio==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                          <p *ngIf="tipoEmpresaSoloTexto && tipoEmpresaVacio!==''"> <i class="fas fa-info-circle"></i> Ingrese solo texto</p>
                        </div>
                        <!-- end mensajes de validacion -->
                    </div>

                    <div class="col-md-6">
                      <label for="exampleFormControlTextarea1">Actividad económica inscrita en el RUC <span class="text-danger">*</span></label><br>
                      <i class="fa fa-money form-control-feedback"></i>
                      <textarea class="form-control"
                              formControlName="actividadEconomica"
                              rows="3"
                              [class.is-invalid]="actividadEconomicaNoValido"
                              [class.is-valid]="formEmpleador.get('actividadEconomica').valid"
                              placeholder="Ingrese la actividad económica inscrita en el RUC"
                              maxlength="300">
                      </textarea>
                      <!-- mensajes de validacion -->
                      <div class="invalid-feedback"  *ngIf="actividadEconomicaNoValido">
                        <p *ngIf="actividadEconomicaVacio==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>

                      </div>
                      <!-- end mensajes de validacion -->
                    </div>

                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Número de RUC <span class="text-danger">*</span></label><br>
                        <i class="fas fa-id-card form-control-feedback"></i>
                        <input type="text"
                                formControlName="numeroRuc"
                                class="form-control"
                                [class.is-invalid]="numRucNoValido"
                                [class.is-valid]="formEmpleador.get('numeroRuc').valid"
                                placeholder="Ingrese el número de RUC"
                                maxlength="13">
                      <!-- mensajes de validacion -->
                      <div class="invalid-feedback"  *ngIf="numRucNoValido">
                        <p *ngIf="numRucVacia==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                        <p *ngIf="rucNoPasoValidacion && numRucVacia!=''"> <i class="fas fa-info-circle"></i> El Ruc no es valido</p>
                      </div>
                      <!-- end mensajes de validacion -->
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Documento de identidad del representante legal <span class="text-danger">*</span></label><br>
                        <i class="fas fa-id-card form-control-feedback"></i>
                        <input type="text"
                              formControlName="cedula"
                              class="form-control"
                              [class.is-invalid]="cedulaNoValida"
                              [class.is-valid]="formEmpleador.get('cedula').valid"
                              placeholder="Ingrese la cédula de identidad del representante legal"
                              maxlength="20">
                      <!-- mensajes de validacion -->
                      <div class="invalid-feedback"  *ngIf="cedulaNoValida">
                        <p *ngIf="cedulaVacia==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                      </div>
                      <!-- end mensajes de validacion -->
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Nombre del representante legal <span class="text-danger">*</span></label><br>
                        <i class="fa fa-user form-control-feedback"></i>
                        <input type="text"
                                formControlName="nomRepresentanteLegal"
                                class="form-control"
                                [class.is-invalid]="nombreRepresentanteNoValido"
                                [class.is-valid]="formEmpleador.get('nomRepresentanteLegal').valid"
                                placeholder="Ingrese el nombre del representante legal"
                                maxlength="30">
                      <!-- mensajes de validacion -->
                      <div class="invalid-feedback"  *ngIf="nombreRepresentanteNoValido">
                        <p *ngIf="nombreRepresentanteVacio==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                        <p *ngIf="nombreRepresentanteSoloTexto && nomRepresentanteVacia!==''"> <i class="fas fa-info-circle"></i> Ingrese solo texto</p>
                      </div>
                      <!-- end mensajes de validacion -->
                    </div>


                    <div class="col-md-6">
                      <label for="inputPais " class="form-label ">Provincia <span class="text-danger">*</span></label><br>
                      <i class="fas fa-clipboard-list form-control-feedback"></i>
                      <select (ngModelChange)="escucharSelectProvincia($event)"
                              class="form-control"
                              [class.is-invalid]="provinciaNoValido"
                              [class.is-valid]="formEmpleador.get('provincia').valid"
                              formControlName="provincia">
                      <option [value]="item.id"*ngFor="let item of arrayProvincias;let i=index ">{{item.nombre}}</option>
                    </select>
                    <!-- mensajes de validacion -->
                    <div class="invalid-feedback"  *ngIf="provinciaNoValido">
                      <p *ngIf="provinciaVacia==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                    </div>
                    <!-- end mensajes de validacion -->
                  </div>

                  <div class="col-md-6">
                      <label for="inputPais " class="form-label ">Ciudad <span class="text-danger">*</span></label><br>
                      <i class="fas fa-clipboard-list form-control-feedback"></i>
                      <select class="form-control "
                              formControlName="ciudad"
                              [class.is-invalid]="ciudadNoValido"
                              [class.is-valid]="formEmpleador.get('ciudad').valid">
                      <option [value]="item.id "*ngFor="let item of arrayCiudad;let i=index ">{{item.nombre}}</option>
                    </select>
                    <!-- mensajes de validacion -->
                    <div class="invalid-feedback"  *ngIf="ciudadNoValido">
                      <p *ngIf="ciudadVacia==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                    </div>
                    <!-- end mensajes de validacion -->
                  </div>


                  <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Teléfono <span class="text-danger">*</span></label><br>
                      <i class="fas fa-phone form-control-feedback"></i>
                      <input type="text"
                              formControlName="telefono"
                              class="form-control"
                              [class.is-invalid]="telefonoNoValido"
                              [class.is-valid]="formEmpleador.get('telefono').valid"
                              maxlength="15"
                              placeholder="Ingrese el número de teléfono">
                    <!-- mensajes de validacion -->
                    <div class="invalid-feedback"  *ngIf="telefonoNoValido">
                      <p *ngIf="telefonoVacio==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                      <p *ngIf="soloNumerosTelefono && telefonoVacio!=''"> <i class="fas fa-info-circle"></i> Ingrese solo numero</p>
                    </div>
                    <!-- end mensajes de validacion -->
                  </div>

                  <div class="col-12">
                    <label for="exampleFormControlTextarea1 ">Dirección de domicilio o laboral <span class="text-danger">*</span></label><br>
                    <i class="fas fa-map-marker-alt form-control-feedback"></i>
                    <textarea class="form-control"
                              formControlName="direcionDomicilio"
                              [class.is-invalid]="direccionNoValido"
                              [class.is-valid]="formEmpleador.get('direcionDomicilio').valid"
                              placeholder="Ingrese la dirección de domicilio o laboral"
                              maxlength="50"
                             >
                    </textarea>
                    <!-- mensajes de validacion -->
                    <div class="invalid-feedback"  *ngIf="direccionNoValido">
                      <p *ngIf="direccionVacia==''"> <i class="fas fa-info-circle"></i> El campo es requerido</p>
                    </div>
                    <!-- end mensajes de validacion -->
                  </div>

                  <div class="col-12">
                      <button type="submit" class="btn btn-success" [disabled]="!modoEdicionForm">
                        <i class="fas fa-save" ></i> Registrar
                      </button>
                  </div>
              </form>
          </article>
      </div>
  </div>
  <!--============================= FOOOTER  ============================-->
  <!--============================= FOOOTER  ============================-->
  <!--============================= FOOOTER  ============================-->
  <app-footer></app-footer>
</div>
