<div class="wrapper">
  <navTab-empleador></navTab-empleador>
  <div class="content-wrapper animated fadeIn">
      <div class="card ">
        <article class="card-body ">
          <div class="col-12 mt-2">
            <h3>Seleccionar Postulantes </h3>
            <hr class="text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 300px;">
          </div>
          <div class="col-2   mb-5">
            <a class="btn btn-outline-primary" [routerLink]="['/panel-empleador/oferta-laboral']">
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</a>
          </div>
          <div class="alert simple-primary" role="alert" *ngIf="!estadoOfertaLaboralFinalizada && existeRegistros">
              <i class="fas fa-exclamation-triangle"></i> Debe señalar los postulantes que desea contratar, caso contrario si no seleccionada ningún postulante puede finalizar la publicación de la oferta laboral dando clic en el boton de Contratar y Finalizar
              oferta o esperar mas postulantes para que se inscriban
          </div>
          <div class="alert simple-succes" role="alert" *ngIf="estadoOfertaLaboralFinalizada">
              <i class="fas fa-exclamation-triangle"></i> Oferta laboral finalizada
          </div>

          <div class="alert simple-warning" role="alert" *ngIf="!existeRegistros">
              <i class="fas fa-exclamation-triangle"></i> No existe registros para mostrar
          </div>
          <div *ngIf="existeRegistros">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Fecha postulación</th>
                          <th scope="col">Postulante</th>
                          <th scope="col">Hoja de vida</th>
                          <th scope="col">Correo</th>
                          <th scope="col">Contratar</th>
                      </tr>
                  </thead>
                  <tbody>

                      <tr *ngFor="let postulantes of arrayPostulante; index as i">
                          <th scope="row">{{ i+1 }}</th>
                          <td>{{ postulantes.created_at| date: 'yyy/MM/dd' }}</td>
                          <td>{{ postulantes.nombre }} {{ postulantes.apellido }}</td>
                          <td>
                              <a class="btn btn-light" (click)="verHojaVidaModal(i)"> <i class="fas fa-eye"></i></a>
                          </td>
                          <td>{{ postulantes.correo }}</td>
                          <td>
                              <input class="form-check-input me-1" type="checkbox" (change)="check($event,postulantes.fk_estudiante,postulantes.fk_oferta_laboral,postulantes.external_of_est,postulantes.external_es)" [checked]="postulantes.estado=='2'" [value]="postulantes.estado"
                                  [disabled]="estadoOfertaLaboralFinalizada==true">
                          </td>
                      </tr>
                  </tbody>
              </table>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="contrarFinalizarOfertaLaboral()" [disabled]="estadoOfertaLaboralFinalizada==true">Finalizar oferta</button>
              </div>
          </div>
        </article>
      </div>
  </div>

  <!-- Full screen modal -->
  <div class="modal fade" id="motrarHojaVidaGeneral" tabindex="-1" aria-labelledby="motrarHojaVidaGeneral" aria-hidden="true">
      <div class="modal-dialog modal-xl">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="btn-close" aria-label="Close" (click)="carrarModalX()"></button>
              </div>
              <div class="modal-body">

                  <div class="col-md-12">
                      <div class="card">
                          <div class="card-header p-2">
                              <ul class="nav nav-pills">
                                  <li class="nav-item"><a class="nav-link active" href="#infPersonal" data-toggle="tab">Información personal</a></li>
                                  <li class="nav-item"><a class="nav-link " href="#cursosCapacitaciones" data-toggle="tab">Cursos y Capacitaciones</a></li>
                                  <li class="nav-item"><a class="nav-link" href="#titulosAcademicos" data-toggle="tab">Títulos Academicos</a></li>
                              </ul>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                              <div class="tab-content">
                                  <div class="tab-pane active" id="infPersonal">
                                      <app-info-detalles-postulante [instanciaVerPostulante]="instanciaVerPostulante"></app-info-detalles-postulante>
                                  </div>
                                  <!-- /.tab-pane -->
                                  <div class="tab-pane" id="cursosCapacitaciones">
                                      <app-tabla-cursos-capacitaciones [instanciaCursosCapacitaciones]="arrayCursosCapacitaciones"></app-tabla-cursos-capacitaciones>
                                  </div>
                                  <!-- /.tab-pane -->
                                  <div class="tab-pane" id="titulosAcademicos">
                                      <app-tabla-titulos-academicos [tituloAcademico]="arrayTitulosAcademicos"></app-tabla-titulos-academicos>
                                      <!-- /.tab-pane -->
                                  </div>
                                  <!-- /.tab-content -->
                              </div>
                              <!-- /.card-body -->
                          </div>
                          <!-- /.nav-tabs-custom -->
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger" (click)="carrarModalX()">Cerrar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ============== FOOTER  ============== -->
  <!-- ============== FOOTER  ============== -->
  <app-footer></app-footer>

</div>
